@import './base.css';

/* --- ELEMENT PLUS OVERRIDES --- */
.el-button {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  border-color: var(--color-border);
}

.el-button:hover {
  background-color: var(--color-accent);
  color: white;
  border-color: var(--color-accent-hover);
}

.el-icon {
  color: var(--color-text);
}

.el-dropdown-menu {
  background-color: var(--color-background-soft) !important;
  color: var(--color-text);
  border: none;
  padding: 0.25rem 0;
  border-radius: 6px;
}

.el-dropdown-menu__item {
  color: var(--color-text);
  padding: 0.5rem 1rem;
  transition: color 0.2s ease;
  font-weight: 500;
}

ul.el-dropdown-menu li.el-dropdown-menu__item {
  background-color: transparent !important;
}

ul.el-dropdown-menu li.el-dropdown-menu__item:hover,
ul.el-dropdown-menu li.el-dropdown-menu__item:focus,
ul.el-dropdown-menu li.el-dropdown-menu__item:focus-visible,
ul.el-dropdown-menu li.el-dropdown-menu__item:active {
  background-color: transparent !important;
  color: var(--color-accent) !important;
}

.el-popper.is-light,
.el-dropdown__popper.el-popper {
  background-color: var(--color-background-soft) !important;
  color: var(--color-text);
  border: 1px solid var(--color-border) !important;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

.el-popper__arrow,
.el-popper__arrow::before,
.el-dropdown__popper.el-popper .el-popper__arrow::before {
  background-color: var(--color-background-soft) !important;
  border-color: var(--color-border) !important;
}

.el-card {
  background-color: transparent !important;
  margin-bottom: 1rem;
  border-color: var(--color-border) !important;
}

/* --- CUSTOM GLOBAL STYLES --- */
main {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

button:not(:disabled):hover {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  main {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 2rem;
  }
}
